/* Zero file */
*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

/* ======================================= */
/* ======================================= */
/* ======================================= */



.wrapper {}

.container {
  margin: 0px 1.5vw;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;

}

.header:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #054d99;
  z-index: 2;
}



.header__body {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 80px;
  align-items: center;
}

.header__logo {
  flex: 0 0 100px;
  position: relative;
  z-index: 3;
}

.header__logo img {
  max-width: 100%;
}

.header__burger {
  display: none;
}

.header__menu {}

.page__name {
  color: #fff;
  text-decoration: none;
  font-size: 2vw;
  letter-spacing: 0.12vw;
  word-spacing: 0.5vw;
  position: relative;
  z-index: 3;
}


.header__list {
  display: flex;
  position: relative;
  z-index: 2;
  column-gap: 2vw;
}

.header__list li {
  list-style: none;
  margin: 0px 0px 0px 10px;
}

.header__link {
  color: #fff;
  text-decoration: none;
  font-size: 1.5vw;
}




/*----------------main picture-----------------------*/

.content__picture-img {
  padding: 80px 0px 0px 0px;
}

.content {}

.content__text {}

.content__picture {
  position: relative;
  z-index: 3;
}


.content__picture-img img {
  width: 100%;
  height: 100%;
}

.content__picture-text {
  position: absolute;
  min-width: 200px;
  height: 15%;
  left: 30%;
  right: 30%;
  top: 50%;
  color: #fff;
  font-size: 5vw;
  text-align: center;
  text-transform: capitalize;
  z-index: 1;
}

.title {
  text-transform: capitalize;
  font-size: 9vw;
  text-align: center;

}

.line {
  width: 100%;
  height: 0;
  border: 2px solid #000;
  margin: 20px 0px;
}

.topic {}

.topic__title {
  color: green;
  text-decoration: underline;
  font-size: 66px;
  margin: 5%;
}

.topic__summary {
  margin: 5%;
  font-size: 28px;
}

.topic__date {
  margin: 5%;
  font-size: 28px;
}




/*---------Brakepoint 1200px------*/

@media (max-width:1200px) {

  body.lock {
    overflow: hidden;
  }

  .container {
    max-width: 1180px;
    margin: 0px auto;
    padding: 0 20px;
  }

  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    position: relative;
    z-index: 3;

  }

  .header__burger span {
    position: absolute;
    background-color: #fff;
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    transition: all 0.4s ease 0s;
  }

  .header__burger:before,
  .header__burger:after {
    content: '';
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 0.4s ease 0s;
  }

  .header__burger:before {
    top: 0;
  }

  .header__burger:after {
    bottom: 0;
  }

  .header__burger.active:before {
    transform: rotate(45deg);
    top: 9px;
  }

  .header__burger.active:after {
    transform: rotate(-45deg);
    bottom: 9px;
  }

  .header__burger.active span {
    transform: scale(0);
  }

  .header__menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 40%;
    height: 100%;
    transition: all 0.6s ease 0s;
    background-color: #054d99;
    padding: 100px 0px 0px 0px;

  }

  .header__menu.active {
    top: 0;
  }

  .header__list {
    display: block;
  }

  .header__list li {
    margin: 0px 0px 20px 10px;
  }

  .topic__title {
    font-size: 42px;
  }

  .topic__summary {
    font-size: 26px;
  }

  .topic__date {
    font-size: 26px;
  }

}



/*---------------------------------------*/
/*---------Brakepoint 800px--------------*/

@media (max-width:800px) {
  body.lock {
    overflow: hidden;
  }

  .header__body {
    height: 50px;
  }

  .container {
    max-width: 1180px;
    margin: 0px auto;
    padding: 0 20px;
  }

  .content__picture-img {
    padding: 50px 0px 0px 0px;
  }

  .header__logo {
    flex: 0 0 40px;
  }

  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    position: relative;
    z-index: 3;

  }

  .header__burger span {
    position: absolute;
    background-color: #fff;
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    transition: all 0.4s ease 0s;
  }

  .header__burger:before,
  .header__burger:after {
    content: '';
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 0.4s ease 0s;
  }

  .header__burger:before {
    top: 0;
  }

  .header__burger:after {
    bottom: 0;
  }

  .header__burger.active:before {
    transform: rotate(45deg);
    top: 9px;
  }

  .header__burger.active:after {
    transform: rotate(-45deg);
    bottom: 9px;
  }

  .header__menu {
    position: fixed;
    top: -100;
    left: 0;
    width: 40%;
    height: 100%;
    overflow: auto;
    transition: all 0.6s ease 0s;
    background-color: #054d99;
    padding: 100px 0px 0px 0px;
  }

  .header__menu.active {
    top: 0;
  }

  .header__list {
    display: block;
  }

  .header__list li {
    margin: 0px 0px 20px 10px;
  }

  .topic__title {
    font-size: 22px;
  }

  .topic__summary {
    font-size: 12px;
  }

  .topic__date {
    font-size: 12px;
  }
}